{% extends 'base.html' %}

{% block title %}Panel administrateur{% endblock %}

{% block content %}
<div>
    <h1 class="title is-4">Statistiques du site</h1>
    <p>📮 Nombre de posts : {{nb_posts}}</p>
    <p>👤 Nombre d'utilisateurs : {{users}}</p>
    <p>👑 Nombre d'administrateurs : {{admins}}</p>
    <p>💬 Nombre de commentaires : {{comments}}</p>

    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Utilisateurs</p>
                <p class="title">{{users}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Posts</p>
                <p class="title">{{nb_posts}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Commentaires</p>
                <p class="title">{{comments}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Likes</p>
                <p class="title">{{ likes }}</p>
            </div>
        </div>
    </nav>
</div>

<div>
    <h1 class="title is-4 my-2">Modération</h1>

    {% from 'components/posts_list.html' import admin_posts_list %}
    {{ admin_posts_list(posts) }}

    {% if posts|length == 0 %}
    <p>Aucun post à modérer</p>
    {% endif %}

</div>
{% endblock %}
