{% extends 'base.html' %}

{% block title %}Profil de {{user.username}}{% endblock %}

{% block title_page %}{% endblock %}

{% block content %}
<section>

    <div class="is-flex">
        <div>
            {% if user.first_name %}
            <h1 class="title is-2">{{user.firstName}}</h1>
            {% endif %}

            {% if user.accreditation > 1 %}
            <h2 class="title is-3">👑 {{user.username}}</h2>
            {% else %}
            <h2 class="title is-3">{{user.username}}</h2>
            {% endif %}
        </div>
        <div>
            {% if g.user.accreditation == 3 %}
            <div>
                {% if user.accreditation == 0 %}
                <form action="" method="post">
                    <input class="button is-link is-light" type="submit" value="Débannir"
                           onclick="return confirm('Etes vous sûr ?');">
                </form>
                {% elif user.accreditation == 1 %}
                <form action="" method="post">
                    <input class="button is-link is-light" type="submit" value="Ajouter Modérateur"
                           onclick="return confirm('Etes vous sûr ?');">
                </form>
                <form action="" method="post">
                    <input class="button is-link is-light" type="submit" value="Ajouter Administrateur"
                           onclick="return confirm('Etes vous sûr ?');">
                </form>
                <form action="" method="post">
                    <input class="button is-danger" type="submit" value="Bannir"
                           onclick="return confirm('Etes vous sûr ?');">
                </form>
                {% elif user.accreditation == 2 %}
                <a class="button is-danger is-light is-outlined my-2"
                   href="{{ url_for('admin.remove_admin', username=user.username) }}">Supprimer Modérateur</a>
                {% elif user.accreditation == 3 %}
                <a class="button is-danger is-light is-outlined my-2"
                   href="{{ url_for('admin.remove_admin', username=user.username) }}">Supprimer Administrateur</a>
                {%endif%}

                <form action="{{ url_for('user.delete', username=user.username) }}" method="post">
                    <input class="button is-danger is-light" type="submit" value="Supprimer le compte"
                           onclick="return confirm('Etes vous sûr ?');">
                </form>
            </div>

            {% elif user.id == g.user.id %}
            <div>
                <a class="button my-2 is-success" href="{{ url_for('user.edit', username=user.username) }}">
                    Editer mon profil</a>
                <form action="{{ url_for('user.delete', username=user.username) }}" method="post">
                    <input class="button is-danger is-light" type="submit" value="Supprimer mon compte"
                           onclick="return confirm('Etes vous sûr ?');">
                </form>
            </div>
            {% endif %}
        </div>
    </div>

    <div>
        <h3 class="title is-5">Bio</h3>
        {% if user.bio %}
        <p>{{user.bio}}</p><br>
        {% else %}
        <p>Cet utilisateur n'a pas de bio !</p><br>
        {% endif %}
    </div>

    <div>
        <h3 class="title is-5">Anniversaire</h3>
        {% if today.month == user.date_of_birth.month and today.day == user.date_of_birth.day %}
        <p>🎂 {{ user.date_of_birth.strftime('%d/%m/%y') }}</p>
        {% else %}
        <p>{{ user.date_of_birth.strftime('%d/%m/%y') }}</p>
        {% endif %}
    </div>

    <div>
        <h1 class="title is-5">Réseaux sociaux</h1>

        {% if user.instagram %}
        <div class="is-flex my-3">
            <img src="{{ url_for('static', filename='icons/instagram.svg') }}"
                 height="24px" width="24px">
            <a class="ml-2" href="https://instagram.com/{{user.instagram}}">@{{user.instagram}}</a>
        </div>
        {% endif %}

        {% if user.twitter %}
        <div class="is-flex my-3">
            <img src="{{ url_for('static', filename='icons/twitter.svg') }}"
                 height="24px" width="24px">
            <a class="ml-2" href="https://twitter.com/{{user.twitter}}">@{{user.twitter}}</a></div>
        {% endif %}

        {% if user.github %}
        <div class="is-flex my-3">
            <img src="{{ url_for('static', filename='icons/github.svg') }}"
                 height="24px" width="24px">
            <a class="ml-2" href="https://github.com/{{user.github}}">@{{user.github}}</a>
        </div>
        {% endif %}

        {% if user.website %}
        <div class="is-flex my-3">
            <img src="{{ url_for('static', filename='icons/link.svg') }}"
                 height="24px" width="24px">
            <a class="ml-2" href="{{user.website}}">{{user.website}}</a>
        </div>
        {% endif %}
    </div>

    {% from 'components/posts_list.html' import select_list_view %}
    {{ select_list_view(posts) }}
</section>
{% endblock content %}
