{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Créer un compte {% endblock %}
{% block h1 %} Créer un compte {% endblock %}

{% block content %}

{% if form.errors %}
<article class="message is-danger">
    <div class="message-body">
        {% for key, value in form.errors.items %}
        {{ value }}
        {% endfor %}
    </div>
</article>
{% endif %}

<form method="post" class="box">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>

    <div class="field">
        <label class="label" for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
        <div class="control">
            {% render_field form.username class+="input" placeholder=form.username.label%}
        </div>
    </div>

    <div class="field">
        <label class="label" for="{{ form.date_of_birth.id_for_label}}">{{ form.date_of_birth.label_tag }}</label>
        <div class="control">
            {% render_field form.date_of_birth class+="input" type="date" placeholder="jj/mm/aaaa"%}
        </div>
        <p class="help is-danger">{{ form.username.errors }}</p>
    </div>

    <div class="field">
        <label class="label" for="{{ form.password1.id_for_label}}">{{ form.password1.label_tag }}</label>
        <div class="control">
            {% render_field form.password1 class+="input" placeholder=form.password1.label%}
        </div>
    </div>

    <div class="field">
        <label class="label" for="{{ form.password2.id_for_label}}">{{ form.password2.label_tag }}</label>
        <div class="control">
            {% render_field form.password2 class+="input" placeholder=form.password2.label%}
        </div>
    </div>

    <div class="field">
        <p><a href="{% url 'auth:login' %}">Je n'ai deja un compte</a></p>
    </div>

    <div class="control">
        <button type="submit" class="button is-link">Créer</button>
    </div>

</form>
{% endblock %}