{% extends 'base.html' %}

{% block title %}New Post{% endblock %}

{% block content %}
<section>
    <h1>Nouveau Post</h1>

    <form method="post">
        <label for="body">Message</label><br><br>
        <textarea name="body" id="body">{{ request.form['body'] }}</textarea><br><br>

        <input type="checkbox" id="scales" name="scales" checked>
        <label for="scales">Envoyer le message anonymement</label><br><br>

        <input type="submit" value="Save">
    </form>
</section>
{% endblock %}