{% extends 'base.html' %}

{% block title %}Nouveau Post{% endblock %}

{% block content %}
<form method="post" class="box">
    <div class="field">
        <div class="control">
            <textarea name="body" id="body" class="textarea" rows="5">{{ request.form['body'] }}</textarea>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" id="anonymous" name="anonymous" checked>
                Envoyer le message anonymement
            </label>
        </div>
    </div>

    <button class="button is-success mt-5">
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
        <span>Poster</span>
    </button>
</form>
{% endblock %}