{% extends 'base.html' %}

{% block title %} Modifier {% endblock %}

{% block content %}
<form method="post" class="box">
    <div class="field">
        <div class="control">
            <textarea name="body" id="body" class="textarea"
                      rows="5">{{ request.form['body'] or post['body'] }}</textarea>
        </div>
    </div>

    <div class="buttons mt-3">
        <button class="button is-success">
            <span class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            <span>Sauvegarder</span>
        </button>

        <form action="{{ url_for('blog.delete', post_id=post['id']) }}" method="post">
            <button class="button is-danger is-outlined" onclick="return confirm('Etes vous sûr ?');">
                <span>Delete</span>
                <span class="icon is-small">
                    <i class="fas fa-times"></i>
                </span>
            </button>
        </form>
    </div>
</form>
{% endblock %}
