{% extends 'base.html' %}


{% block title %}Posts{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/bg-like.js') }}"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7170523417378892"
        crossorigin="anonymous"></script>
{% endblock scripts %}

{% block content %}

{% if g.user %}
<a class="button is-success is-medium" href="{{ url_for('blog.create') }}">New</a>
{% endif %}

<div>
    {% for post in posts if post['status'] != 'hidden' %}
    <article class="my-5">
        <div class="card px-4 py-4 is-flex is-justify-content-space-between">
            <div class="content">
                <p class="body mt-2">{{ post['body'] }}</p>

                {% if post['anonymous'] %}
                <p class="content is-small">
                    posté par un utilisateur anonyme le {{ post['created'].strftime('%a %d %b %Y') }}
                </p>
                {% else %}
                <p class="content is-small">
                    posté par
                    <a href="{{ url_for('user.profile', username=post['username']) }}">@{{ post['username'] }}</a> le {{
                    post['created'].strftime('%a %d %b %Y') }}
                </p>
                {% endif %}
            </div>

            <div>
                {% if g.user['admin'] %}
                <a class="button is-link is-small is-fullwidth my-2"
                   href="{{ url_for('blog.edit', post_id=post['id']) }}">Modifier</a>
                <form action="{{ url_for('blog.delete', post_id=post['id']) }}" method="post">
                    <input class="button is-danger is-small is-fullwidth my-2" type="submit" value="Supprimer"
                           onclick="return confirm('Etes vous sûr de vouloir supprimer le post ?');">
                </form>
                <p style="text-align:center;">{{ UserSet(post["reported"]).__len__() }} reports </p>

                {% elif g.user['id'] == post['author_id'] %}
                <a class="button is-link is-small is-fullwidth my-2"
                   href="{{ url_for('blog.edit', post_id=post['id']) }}">Modifier</a>
                <form action="{{ url_for('blog.delete', post_id=post['id']) }}" method="post">
                    <input class="button is-danger is-small is-fullwidth my-2" type="submit" value="Supprimer"
                           onclick="return confirm('Etes vous sûr de vouloir supprimer le post ?');">
                </form>

                {% elif g.user %}
                <form action="{{ url_for('blog.report', post_id=post['id']) }}" method="post">
                    <input class="button is-warning is-small is-fullwidth my-2" type="submit" value="Signaler"
                           onclick="return confirm('Signaler ce post ?');">
                </form>
                {% endif %}
            </div>
        </div>

        <button class="button mt-2 is-danger like-button" data-target="{{ post['id'] }}" type="button">
            <span class="nb-likes mr-2 {{ 'is-hidden' if post['nb_likes'] == 0 }}">{{ post["nb_likes"] }}</span>
            <span class="icon-text is-small">
                <img class="filled-heart {{ 'is-hidden' if g.user['id'] not in UserSet(post['like'])  }}"
                     src="{{ url_for('static', filename='icons/heart.svg') }}"
                     height="24px" width="24px">
                <img class="empty-heart {{ 'is-hidden' if g.user['id'] in UserSet(post['like'])  }}"
                     src="{{ url_for('static', filename='icons/heart-outline.svg') }}"
                     height="24px" width="24px">
            </span>
        </button>

        {% if g.user['admin'] %}

        <button class="button mt-2 is-link insta-button" data-target="{{ post['id'] }}" type="button">
            <span class="mr-2">Poster</span>
            <span class="icon-text is-small">
                <img src="{{ url_for('static', filename='icons/instagram.svg') }}"
                     height="24px" width="24px">
            </span>
        </button>

        {% endif %}

    </article>
    {% endfor %}


    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout-key="-f1+5r+5a-db+57"
         data-ad-client="ca-pub-7170523417378892"
         data-ad-slot="8021977558"></ins>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({});






    </script>
</div>
{% endblock %}
