{% extends 'base.html' %}


{% block title %}Posts{% endblock %}

{% block content %}

{{ super() }}

{% if g.user %}
<a class="button is-success is-medium" href="{{ url_for('blog.create') }}">New</a>
{% endif %}

<div>
    {% for post in posts if post['status'] != 'hidden' %}
    <article class="card my-6 px-4 py-4 is-flex is-justify-content-space-between">
        <div class="content">
            <p class="body mt-2">{{ post['body'] }}</p>

            {% if post['anonymous'] %}
            <p class="content is-small">
                posté par un utilisateur anonyme le {{ post['created'].strftime('%a %d %b %Y') }}
            </p>
            {% else %}
            <p class="content is-small">
                posté par
                <a href="{{ url_for('user.profile', username=post['username']) }}">@{{ post['username'] }}</a>
                le {{ post['created'].strftime('%a %d %b %Y') }}</p>
            {% endif %}
        </div>

        <div>
            {% if g.user['id'] == post['author_id'] or g.user['admin'] %}
            <a class="button is-info is-small is-fullwidth my-2" href="{{ url_for('blog.edit', post_id=post['id']) }}">Modifier</a>
            <form action="{{ url_for('blog.delete', post_id=post['id']) }}" method="post">
                <input class="button is-danger is-small is-fullwidth my-2" type="submit" value="Supprimer"
                       onclick="return confirm('Etes vous sûr de vouloir supprimer le post ?');">
            </form>
            {% else %}

            {% if g.user %}
            <form action="{{ url_for('blog.report', post_id=post['id']) }}" method="post">
                <input class="button is-warning is-small is-fullwidth my-2" type="submit" value="Signaler"
                       ;">
            </form>

            
            
            {% endif %}
            {% endif %}
        </div>
    </article>

    {% if g.user %}
    <form action="{{ url_for('blog.like', post_id=post['id']) }}" method="post">
        <button class="button is-danger is-outlined">
            <span>{{post.like}} </span>
            <span class="icon-text">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
                </svg>
            </span>
        </button>
    </form>
    {% else %}
    <form action="{{ url_for('blog.like', post_id=post['id']) }}" method="post">
        <button class="button is-danger is-outlined">
            <span>{{post.like}} </span>
            <span class="icon-text">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
                </svg>
            </span>
        </button>
    </form>
    {% endif %}
    
    {% endfor %}
</div>
{% endblock %}
