@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');


body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

a {
    color: #377ba8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen', sans-serif;
    color: #377ba8;
    margin: 1rem 0;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}


/* flush message */

.message {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}


/* header */

header {
    display: flex;
    background: lightgray;
}

header h1 {
    flex: auto;
    margin: 0;
    margin-top: 5px;
    padding: 0.25rem 0.5rem;
    
}

img{
    width : 35px;
    height : 35px;
    margin-top: 12px;
    margin-left: 5px;

}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav ul li {
    padding: 0.5rem;
}


.button:link, .button:visited, .button:focus {
  background: #fd7c84;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-top: 3px;
  cursor: pointer;
  border-radius: 100px;
}

.button:hover {
  background: #d57276;
}

.button:active {
  background:#d73d6c;

/* html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}



.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
} */