.post>header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
    text-align: justify;
}

.action {
    display: flex;
}

.btn {
    color: white;
    padding: 0.5em;
    border-radius: 0.50em;
    cursor: pointer;
    display: block;
    width: fit-content;
}

.btn-edit {
    background-color: #377ba8;
    border: 1px solid #ccc;
}

.btn-delete {
    background-color: #cc4b4b;
    border: 1px solid #ccc;
}