{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}Edition de post{% endblock %}


{% block content %}

<div class="is-flex is-justify-content-space-between">
    <h1 class="title">Edition de post</h1>
    <form action="{% url 'blog:delete-post' post_id=post.id %}" method="post">
        {% csrf_token %}
        <button class="button is-danger is-outlined" onclick="return confirm('Etes vous sûr ?');">
            <span>Supprimer</span>
            <span class="icon is-small">
            <i class="fas fa-trash"></i>
        </span>
        </button>
    </form>
</div>


{% if form.errors %}
<article class="message is-danger">
    <div class="message-body">
        {% for key, value in form.errors.items %}
        {{ value.as_text }}<br>
        {% endfor %}
    </div>
</article>
{% endif %}

<form method="post" class="box">
    {% csrf_token %}
    <div class="field">
        <div class="control">
            {% render_field form.text class+="textarea" placeholder=form.text.label rows=5 cols="" autofocus="" %}
        </div>
    </div>
    <div class="buttons mt-3">
        <button class="button is-success">
            <span class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            <span>Sauvegarder</span>
        </button>
        <a href="{% url 'blog:index' %}" class="button is-danger">
            <span class="icon is-small">
                <i class="fas fa-times"></i>
            </span>
            <span>Annuler</span>
        </a>
    </div>
</form>
{% endblock %}
