{% extends 'base.html' %}

{% load static %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<section>
    <div class="is-flex is-justify-content-space-between">
        <div>
            <h1 class="title is-1">{% if profile.is_staff %} 👑 {% endif %} {{ profile.username }}</h1>
            <h1 class="subtitle is-2 mt-3">{{ profile.first_name }}</h1>
        </div>
        <div>
            {% if profile == user %}
            <a class="button is-success is-light is-outlined my-2" href="{% url 'blog:edit-profile' username=profile.username %}">Edit Profile</a>
            <form class="my2" action="{% url 'blog:delete-profile' username=profile.username %}" method="post">
                {% csrf_token %}
                <button class="button is-danger is-light" type="submit"
                        onclick="return confirm('Etes vous sûr ?');">Supprimer le compte
                </button>
            </form>
            {% endif %}
        </div>
    </div>

    <div class="my-6">
        <h3 class="title is-5">Bio</h3>
        <p>{{ profile.bio|default:'Cet utilisateur n\'a pas de bio !'|linebreaks }}</p>
    </div>

    <div class="my-6">
        <h3 class="title is-5">Anniversaire</h3>
        <p>{% if profile.is_birthday %} 🎂 {% endif %} {{ profile.date_of_birth|date:"j F Y" }}</p>
    </div>

    {% if profile.study %}
    <div class="is-flex my-3">
        <img src="{% static 'icons/book.svg' %}" alt="Instagram"
             height="24px" width="24px">
        <p class="ml-2">Etude&nbsp;:&nbsp;{{ profile.study }}</p>
    </div>
    {% endif %}

    <div class="my-6">
        <h1 class="title is-5">Réseaux sociaux</h1>

        {% if profile.instagram %}
        <div class="is-flex my-3">
            <img src="{% static 'icons/instagram.svg' %}" alt="Instagram"
                 height="24px" width="24px">
            <a class="ml-2" href="https://instagram.com/{{profile.instagram}}">@{{ profile.instagram }}</a>
        </div>
        {% endif %}

        {% if profile.twitter %}
        <div class="is-flex my-3">
            <img src="{% static 'icons/twitter.svg' %}" alt="Twitter"
                 height="24px" width="24px">
            <a class="ml-2" href="https://twitter.com/{{profile.twitter}}">@{{ profile.twitter }}</a></div>
        {% endif %}

        {% if profile.github %}
        <div class="is-flex my-3">
            <img src="{% static 'icons/github.svg' %}" alt="Github"
                 height="24px" width="24px">
            <a class="ml-2" href="https://github.com/{{profile.github}}">@{{ profile.github }}</a>
        </div>
        {% endif %}

        {% if profile.website %}
        <div class="is-flex my-3">
            <img src="{% static 'icons/link.svg' %}" alt="Website link"
                 height="24px" width="24px">
            <a class="ml-2" href="{{profile.website}}" rel="nofollow">{{ profile.website }}</a>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}
