{%- macro select_list_view(posts) -%}

{% if g.user %}
{% if g.user.accreditation == 3 %}
{{ admin_posts_list(posts) }}

{% else %}
{{ user_posts_list(posts) }}
{% endif %}

{% else %}
{{ visitor_posts_list(posts) }}
{% endif %}

{%- endmacro -%}


{%- macro user_posts_list(posts) -%}
{% for post in posts %}
<article class="my-5">
    <div class="card px-4 py-4 is-flex is-justify-content-space-between">
        <div class="content">
            <p class="body mt-2">{{ post.message }}</p>

            {% if post.is_anonymous %}
            <p class="content is-small">
                posté par un utilisateur anonyme {{ post.created_at.strftime('%a %d %b %Y à %H:%M') }}
            </p>
            {% else %}
            <p class="content is-small">
                posté par
                <a href="{{ url_for('user.profile', username=post.username) }}">@{{ post.username }}</a>
                {{ post.created_at.strftime('%a %d %b %Y à %H:%M') }}
            </p>
            {% endif %}
        </div>

        <div>
            {% if g.user.id == post.user_id %}
            <a class="button is-link is-small is-fullwidth my-2"
               href="{{ url_for('blog.edit', post_id=post.id) }}">Modifier</a>
            <form action="{{ url_for('blog.delete', post_id=post.id) }}" method="post">
                <input class="button is-danger is-small is-fullwidth my-2" value="Supprimer"
                       onclick="return confirm('Etes vous sûr de vouloir supprimer le post ?');">
            </form>

            {% else %}
            <form action="{{ url_for('blog.report', post_id=post.id) }}" method="post">
                <input class="button is-warning is-small is-fullwidth my-2" value="Signaler"
                       onclick="return confirm('Signaler ce post ?');">
            </form>
            {% endif %}
        </div>
    </div>

    <button class="button mt-2 is-danger like-button" data-target="{{ post['id'] }}" type="button">
        <span class="nb-likes mr-2 {{ 'is-hidden' if post.liked_by|length == 0 }}">{{ post.liked_by|length }}</span>
        <span class="icon-text is-small">
                <img class="filled-heart {{ 'is-hidden' if g.user.id not in post.liked_by  }}"
                     src="{{ url_for('static', filename='icons/heart-white.svg') }}"
                     height="24px" width="24px">
                <img class="empty-heart {{ 'is-hidden' if g.user.id in post.liked_by  }}"
                     src="{{ url_for('static', filename='icons/heart-outline-white.svg') }}"
                     height="24px" width="24px">
            </span>
    </button>
</article>
{% endfor %}
{%- endmacro -%}

{%- macro admin_posts_list(posts) -%}
{% for post in posts %}
<article class="my-5">
    <div class="card px-4 py-4 is-flex is-justify-content-space-between">
        <div class="content">
            <p class="body mt-2">{{ post.message }}</p>

            {% if post.is_anonymous %}
            <p class="content is-small">
                posté par un utilisateur anonyme {{ post.created_at.strftime('%a %d %b %Y à %H:%M') }}
            </p>
            {% else %}
            <p class="content is-small">
                posté par
                <a href="{{ url_for('user.profile', username=post.username) }}">@{{ post.username }}</a>
                {{ post.created_at.strftime('%a %d %b %Y à %H:%M') }}
            </p>
            {% endif %}
        </div>

        <div>
            <a class="button is-link is-small is-fullwidth my-2"
               href="{{ url_for('blog.edit', post_id=post.id) }}">Modifier</a>
            <form action="{{ url_for('blog.delete', post_id=post.id) }}" method="post">
                <input class="button is-danger is-small is-fullwidth my-2" value="Supprimer"
                       onclick="return confirm('Etes vous sûr de vouloir supprimer le post ?');">
            </form>
            <p>{{ post.reports|length }} reports </p>
        </div>
    </div>

    <button class="button mt-2 is-danger like-button" data-target="{{ post['id'] }}" type="button">
        <span class="nb-likes mr-2 {{ 'is-hidden' if post.liked_by|length == 0 }}">{{ post.liked_by|length }}</span>
        <span class="icon-text is-small">
                <img class="filled-heart {{ 'is-hidden' if g.user.id not in post.liked_by  }}"
                     src="{{ url_for('static', filename='icons/heart-white.svg') }}"
                     height="24px" width="24px">
                <img class="empty-heart {{ 'is-hidden' if g.user.id in post.liked_by  }}"
                     src="{{ url_for('static', filename='icons/heart-outline-white.svg') }}"
                     height="24px" width="24px">
            </span>
    </button>
</article>
{% endfor %}
{%- endmacro -%}

{%- macro visitor_posts_list(posts) -%}
{% for post in posts %}
<article class="my-5">
    <div class="card px-4 py-4 is-flex is-justify-content-space-between">
        <div class="content">
            <p class="body mt-2">{{ post.message }}</p>

            {% if post.is_anonymous %}
            <p class="content is-small">
                posté par un utilisateur anonyme {{ post.created_at.strftime('%a %d %b %Y à %H:%M') }}
            </p>
            {% else %}
            <p class="content is-small">
                posté par
                <a href="{{ url_for('user.profile', username=post.username) }}">@{{ post.username }}</a>
                {{ post.created_at.strftime('%a %d %b %Y à %H:%M') }}
            </p>
            {% endif %}
        </div>
    </div>

    <button class="button mt-2 is-danger like-button" type="button">
        <span class="nb-likes mr-2 {{ 'is-hidden' if post.liked_by|length == 0 }}">{{ post.liked_by|length }}</span>
        <span class="icon-text is-small">
                <img class="empty-heart"
                     src="{{ url_for('static', filename='icons/heart-outline-white.svg') }}"
                     height="24px" width="24px">
            </span>
        <!-- TODO redirect to register/login -->
    </button>
</article>
{% endfor %}
{%- endmacro -%}