{% load datetimeformat %}

<div class="content">
    <div class="my-2 text-break">{{ post.text|linebreaks }}</div>
    <p class="content is-small">
        posté par
        {% if post.is_anonymous %}
        un utilisateur anonyme
        {% else %}
        <a href="{% url 'blog:profile' username=post.author.username %}">
            <strong class="has-text-dark">@{{ post.author.username }}</strong>
        </a>
        {% endif %}
        {{ post.created_at|naturaltimeordate }}
    </p>
</div>