{% load static %}

{% if user.is_authenticated %}
<button class="button mt-2 is-danger" hx-post="{% url 'blog:like-post' post_id=post.id %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-swap="outerHTML">
    <span class="mr-2 {% if post.nb_of_likes == 0 %} is-hidden {% endif %}">{{ post.nb_of_likes }}</span>
    <span class="icon-text is-small">
        {% if post.liked %}
        <img src="{% static 'icons/heart-white.svg' %}" height="24px" width="24px">
        {% else %}
        <img src="{% static 'icons/heart-outline-white.svg' %}" height="24px" width="24px">
        {% endif %}
    </span>
</button>

{% else %}
<a class="button mt-2 is-danger" href="{% url 'auth:login' %}">
    <span class="mr-2 {% if post.nb_of_likes == 0 %} is-hidden {% endif %}">{{ post.nb_of_likes }}</span>
    <span class="icon-text is-small">
        <img src="{% static 'icons/heart-outline-white.svg' %}" height="24px" width="24px">
    </span>
</a>
{% endif %}