{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<form method="post" class="box">
    <div class="field">
        <label class="label" for="username">Pseudo</label>
        <div class="control">
            <input class="input" id="username"name="username" type="text" placeholder="Pseudo" value="{{ request.form['username'] }}">
        </div>
    </div>

    <div class="field">
        <label class="label" for="password">Mot de passe</label>
        <div class="control">
            <input class="input" id="password" name="password" type="password" placeholder="mot de passe" value="{{ request.form['password'] }}">
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-link">Se connecter</button>
        </div>
        <div class="control">
            <button type="reset" class="button is-link is-light">Annuler</button>
        </div>
    </div>
</form>
{% endblock %}
