{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<section>
    <form method="post">

        <label>Nom d'utilisateur:</label>
        <input type="text" id="uname" name="username" value="{{ request.form['username'] }}">

        <label>Date de naissance:</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" value="{{ request.form['dateOfBirth'] }}">

        <label>Mot de passe:</label>
        <input type="password" id="password" name="password" value="{{ request.form['password'] }}">

        <input type="submit" value="S'inscrire">
        <input type="reset">
    </form>
</section>
{% endblock %}
