{% extends 'base.html' %}
{% load i18n %}

{% block title %}Erreur 500{% endblock %}

{% block head %}
    <style>
        h1 {
            font-size: 2em;
            font: 900 30vmin "Consolas";
            letter-spacing: 5vmin;
            text-shadow: 5px 4px 0px black;
        }
    </style>
{% endblock %}

{% block page %}
    <section class="hero-body">
        <div class="container is-max-desktop">

            <h1>500</h1>

            <h2 class="title is-2">Ooops... Quelque chose s'est mal passé</h2>

            <p>Erreur interne du serveur. Autrement dit, quelque chose s’est terriblement mal passé.</p>

            <p>Ne vous inquiétez pas, le problème nous a automatiquement été signalé.</p>
            <p><a href="{% url 'blog:index' %}">Cliquez ici</a> pour retourner à la page d’accueil</p>

        </div>
    </section>

{% endblock page %}