<footer class="footer">
    <p class="my-4 has-text-centered">Suivez-nous sur nos réseaux sociaux ! Instagram : <a target="_blank">@monodcrush.fr</a></p>
    <p class="my-4 has-text-centered">Tout le code source est disponible sur <a href="https://github.com/BenoitObelia/Monod-Crush" target="_blank">Github</a></p>

<!--    <div class="is-flex is-justify-content-center">-->
<!--        <a class="px-3" href="#">Home</a>-->
<!--        <a class="px-3" href="#">Source </a>-->
<!--        <a class="px-3" href="#">About</a>-->
<!--        <a class="px-3" href="#">Privacy Policy</a>-->
<!--    </div>-->
    <p class="mt-4 has-text-centered">Monod Crush © 2022</p>
</footer>