<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags and config for phone -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base-style.css') }}">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- title -->
    <title>{% block title %}{% endblock %} - Flaskr</title>

    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Monod Crush</a></h1>
        <nav>
            <ul>
                {% if g.user %}
                <li>{{ g.user['username'] }}</li>

                {% if g.user['admin'] %}
                <li><a href="{{ url_for('index') }}">Modération</a></li>
                {% endif %}

                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>

                {% else %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {# show error/info message send by server #} {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}

    <footer>
        <p>Footer Page</p>
    </footer>

</body>

</html>