<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags and config for phone -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Monod Crush, à la recherche de rencontre, tu es au bon endroit.">

    <!-- css -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='styles/bulma.min.css') }}">

    <!-- icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='styles/all.min.css') }}">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- title -->
    <title>{% block title required %}{% endblock %} - MonodCrush</title>

    {%- block head -%}
    {% endblock head %}
</head>

{%- block body -%}

<body>

    {%- block header -%}
    {% include "header.html"%}
    {% endblock header %}

    {%- block page -%}
    <section class="section" style="background:#eee;">
        <div class="container is-max-desktop">

            {%- block title_page -%}
            <h1 class="title">{{ self.title() }}</h1>
            {% endblock title_page %}

            {%- block notif -%}
            {% include 'notifications.html' %}
            {% endblock notif %}

            {% block content %}{% endblock content %}
        </div>
    </section>
    {% endblock page %}

    {%- block footer -%}
    {% include "footer.html"%}
    {% endblock footer %}

</body>
{% endblock body %}

{%- block scripts -%}
<script src="{{ url_for('static', filename='scripts/nav-bar.js') }}"></script>
{% endblock scripts %}

</html>
