<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags and config for phone -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <!-- icons -->
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- title -->
    <title>{% block title %}{% endblock %} - MonodCrush</title>

    {% block head %}{% endblock %}
</head>

<body>
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('blog.index') }}">
                <img src="{{ url_for('static', filename='styles/logo_top.png')}}" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('blog.index') }}">Home</a>
                <a class="navbar-item" href="{{ url_for('blog.index') }}">Insta Map</a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Plus</a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ url_for('blog.index') }}">Proposition</a>
                        <a class="navbar-item" href="{{ url_for('blog.index') }}">A propos</a>
                        <a class="navbar-item" href="{{ url_for('blog.index') }}">Contact</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{{ url_for('blog.index') }}">Rapporter un bug</a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if g.user %}
                        <a class="button is-primary is-inverted"
                           href="{{ url_for('user.profile', username=g.user['username']) }}">
                            {{ g.user['username'] }}
                        </a>


                        {% if g.user['admin'] %}
                        <a class="button is-primary" href="{{ url_for('admin.panel') }}">Modération</a>
                        {% endif %}

                        <a class="button is-light" href="{{ url_for('auth.logout') }}">Log Out</a>

                        {% else %}
                        <a class="button is-primary" href="{{ url_for('auth.register') }}">
                            <strong>Créer un Compte</strong>
                        </a>
                        <a class="button is-light" href="{{ url_for('auth.login') }}">Se connecter</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title">{{ self.title() }}</h1>

        <div>
            {# show error/info message send by server #}
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </div>

        {% block content %}{% endblock %}
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>MonodCrush n'est affilié à aucun compte Instagram !</p>
    </div>
</footer>

</body>

<!-- js -->
<script src="{{ url_for('static', filename='scripts/menu.js')}}"></script>

</html>