{# show error/info message send by server #}

{# create dictionary to map alert level and css class  #}

{% set level_class = {
'success': 'is-success',
'error': 'is-danger',
'warning': 'is-warning',
'info': 'is-info',

'success-small': 'is-success is-small',
'error-small': 'is-danger is-small',
'warning-small': 'is-warning is-small',
'info-small': 'is-info is-small'
} %}

{% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}
<div class="content">
    {% for category, message in messages %}
    <article class="message {{ level_class[category] }}">
        <div class="message-body">
            {{ message }}
        </div>
    </article>
    {% endfor %}
</div>
{% endif %} {% endwith %}