body section {
    background-color:#eee;
}

.down-arrow{
    vertical-align:middle;
    width:1rem;
}

.text-break p {
    overflow-wrap: break-word;
}

.fade-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}