{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Qui sommes-nous ?{% endblock %}
{% block h1 %}Qui sommes-nous...&nbsp;🤔{% endblock %}

{% block content %}
    <div>
        <div class="block"> monodcrush.fr est un site de partage de posts qui peuvent être anonymes ou non. Il a été
            créé
            pour le lycée Jacques Monod à Saint Jean de Braye, par et pour les élèves.
        </div>
        <div class="block">
            Il est possible de créer un compte pour avoir un profil personnel, liker des posts et commenter ceux des
            autres.
            Sur votre profil il vous est par exemple possible de partager des liens vers vos réseaux sociaux ou vous
            presenter vous et vos passions.
        </div>
        <div class="block">
            Le site a initialement été créé en 2022 lors d’un projet de NSI en classe de Terminale, le code source est
            entièrement publique et disponible sur <a href="https://github.com/BenoitPrmt/Monod-Crush">Github</a>.
        </div>

        <div class="block">
            Remerciements particuliers pour M. Tissier notre professeur pour cette année 👏.
        </div>

        <h2 class="title is-3 mt-6">Les développeur&nbsp;💻</h2>

        <div class="card my-5">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <a href="https://github.com/BenoitPrmt">
                                <img src="https://github.com/BenoitPrmt.png" class="is-rounded"
                                     alt="avatar of BenoitPrmt">
                            </a>
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Benoit</p>
                        <p class="subtitle is-6"><a
                                href="https://github.com/BenoitPrmt">@BenoitPrmt</a>
                        </p>
                    </div>
                </div>

                <div class="content">
                    Adepte du Javascript, il est multi-casquettes et peut vous développer un bot discord en une nuit.
                </div>
            </div>
        </div>
        <div class="card my-5">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <a href="https://github.com/KillianTib">
                                <img src="https://github.com/KillianTib.png" class="is-rounded"
                                     alt="avatar of KillianTib">
                            </a>
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Killian</p>
                        <p class="subtitle is-6"><a href="https://github.com/KillianTib">@KillianTib</a>
                        </p>
                    </div>
                </div>
                <div class="content">
                    Adepte des graphismes et du design en général, il adore créer des logos et passer des heures
                    à <a href="https://www.larousse.fr/dictionnaires/francais/fignoler/33645">fignoler</a> des marges en
                    pixels.
                </div>
            </div>
        </div>
        <div class="card my-5">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <a href="https://github.com/JulesGrd">
                                <img src="https://github.com/JulesGrd.png" class="is-rounded" alt="avatar of JulesGrd">
                            </a>
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Jules</p>
                        <p class="subtitle is-6"><a href="https://github.com/JulesGrd">@JulesGrd</a></p>
                    </div>
                </div>
                <div class="content">
                    Développeur talentueux, il apprécie le travaille bien fait.
                </div>
            </div>
        </div>
    </div>
{% endblock %}