<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/header.css"/>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Bienvenue sur NOM_PROJET !</h1>
        <nav>
            <div><a href="index.html">Accueil</a></div>
            <div><a href="about.html">À propos</a></div>
            <div><a href="login.html">Connexion</a></div>
            <div><a href="register.html">Inscription</a></div>
        </nav>
    </body>
</html>
