<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static.css">
        <link rel="shortcut icon" type="image/png" href="images/logo_rose.png">
        <title>Le formulaire</title>
    </head>
    <body>
        <form action="http://localhost:5002/resultat" method="get">
                <label>Nom</label> : <input type="text" name="nom" />
                <label>Prénom</label> : <input type="text" name="prenom" />
                <input type="submit" value="Envoyer" />
        </form>
    </body>
</html>
