<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Projet NSI</title>
        <link rel="shortcut icon" type="image/png" href="../assets/logo_rose.png">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <form action="http://localhost:5002/resultat" method="get">
                <label>Nom</label> : <input type="text" name="nom" />
                <label>Prénom</label> : <input type="text" name="prenom" />
                <input type="submit" value="Envoyer"/>
        </form>
        <p>test julien</p>
        <div class="fl">
            <img id="img_preview" src="a définir!!!!!!!" alt="preview site">
            <p>pour acceder à ce site veuillez vous connectez si-dessous</p>
            <input type="button" value="Se connecter" href="login.html">
            <a href="register.html"> S'inscrire</a>
        </div>
    </body>
</html>
