<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Page de connexion</title>
    </head>
    <body>
        <h1>Connectez-vous à votre compte</h1>
        <form method="get">
            <label>Nom d'utilisateur:</label>
            <input type="text" id="uname" name="username"><br><br>

            <label>Mot de passe:</label>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Se connecter">
            <input type="reset">
          </form>
    </body>
</html>