<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Page d'inscription</title>
    </head>
    <body>
        <h1>Créez votre compte et rejoignez nous !</h1>
        <form method="get">
            <label>Prénom:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label>Nom de famille:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label>Nom d'utilisateur:</label>
            <input type="text" id="uname" name="username"><br><br>

            <label>Niveau:</label>
            <select name="class_level">
                <option value=2>Seconde</option>
                <option value=1>Première</option>
                <option value=0>Terminale</option>
            </select><br><br>
            <label>Numéro de classe:</label>
            <input type="number" id="class_number" name="class"><br><br>

            <label>Date de naissance:</label>
            <input type="date" id="birthday" name="birthday"><br><br>

            <label>Je recherche:</label>
            <select name="in_search">
                <option value=1>Amour</option>
                <option value=2>Amitié</option>
            </select><br><br>
            <label>Mot de passe:</label>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="S'inscrire">
            <input type="reset">
          </form>
    </body>
</html>